<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 装配连接池配置对象 -->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">

        <property name="maxTotal" value="${maxtotal}" />
        <property name="maxWaitMillis" value="${maxwaitmillis}" />
    </bean>

    <!-- 装配 jedis 连接工厂 -->
    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <constructor-arg name="poolConfig" ref="poolConfig" />
    </bean>

    <!-- 装配 redis 模板 -->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">

        <!-- jedis 连接工厂 -->
        <property name="connectionFactory" ref="jedisConnectionFactory" />

        <!-- 采用字符串类型的 key 和 value 序列化-->
         <property name="keySerializer">
             <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" />
         </property>
        <property name="valueSerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" />
        </property>
    </bean>
</beans>