<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cneung.ssm.mapper.RouteMapper">

    <select id="queryRouteOrderByCountDesc" resultType="com.cneung.ssm.pojo.Route">
        SELECT rid, rname, price, routeIntroduce, rflag, rdate, isThemeTour, `count`, cid, rimage, sid, sourceId
        FROM tab_route
        WHERE rflag = '1'
        ORDER BY count DESC
        LIMIT 0,4
    </select>

    <select id="queryRouteOrderByRdateDesc" resultType="com.cneung.ssm.pojo.Route">
        SELECT rid, rname, price, routeIntroduce, rflag, rdate, isThemeTour, `count`, cid, rimage, sid, sourceId
        FROM tab_route
        WHERE rflag = '1'
        ORDER BY rdate DESC
        LIMIT 0,4
    </select>

    <select id="queryRouteByTsThemeTourOrderByRdateDesc" resultType="com.cneung.ssm.pojo.Route">
        SELECT rid, rname, price, routeIntroduce, rflag, rdate, isThemeTour, `count`, cid, rimage, sid, sourceId
        FROM tab_route
        WHERE rflag = '1' AND isThemeTour = '1'
        ORDER BY count DESC
        LIMIT 0,4
    </select>

    <select id="queryRouteCount" resultType="java.lang.Integer">
        SELECT count(*) FROM tab_route WHERE rflag = '1'
        <if test="cid!=null">
            AND cid = #{cid}
        </if>
        <if test="rname!=null and rname.trim()!=''">
            AND rname LIKE '%' #{rname} '%'
        </if>
    </select>

    <select id="queryRouteListPage" resultType="com.cneung.ssm.pojo.Route">
        SELECT rid, rname, price, routeIntroduce, rflag, rdate, isThemeTour, `count`, cid, rimage, sid, sourceId
        FROM tab_route
        WHERE rflag = '1'
        <if test="cid!=null">
            AND cid = #{cid}
        </if>
        <if test="rname!=null and ranme.trim()!=''">
            AND rname LIKE '%' #{rname} '%'
        </if>
        LIMT #{firstResult},#{pageSize}
    </select>
</mapper>