<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cneung.ssm.mapper.UserMapper">
    <insert id="addUser">
        INSERT INTO tab_user (username, password, name, birthday, sex, telephone, email, status, code) VALUES (#{username}, #{password}, #{name}, #{birthday}, #{sex}, #{telephone}, #{email}, #{status}, #{code})
    </insert>

    <select id="queryUserByUserName" resultType="com.cneung.ssm.pojo.User">
        SELECT uid, username, password, name, birthday, sex, telephone, email, status, code FROM tab_user WHERE username = #{username}
    </select>

</mapper>